img {
width:500px;
height:500px;}

header {
	text-align:center;
}

body {
	background-color: #34D893;
}

div{
	text-align:center;
}


.Article1 {
	border:3px #151515 solid;
	display:inline-block;
	width:31%;
	margin-left:2em;
}

.Article2{
	border:3px #151515 solid;
	display:inline-block;
	width:31%;
}



.Article3{ 
	border:3px #151515 solid;
	display:inline-block;
	width:31%;
	
}


.Article4 {
	border:3px #151515 solid;
	display:inline-block;
	width:31%;
	margin-left:2em;
}

.Article5{
	border:3px #151515 solid;
	display:inline-block;
	width:31%;
}



.Article6{ 
	border:3px #151515 solid;
	display:inline-block;
	width:31%;
	
}

div a:visited {
	color:red;
}

div a:hover{
	color:green;
}

img:checked{
	width:50%;
}






