h2 {
	text-align:center;
}

div{
  display:flex;
  justify-content:center;
}


div ul li > #deroulant::after{ /* vu sur https://www.pierre-giraud.com/html-css-apprendre-coder-cours/creation-menu-deroulant/ */
	content:"↓↓↓";
	font-size:13px;
}
div ul li > #deroulant::before{ /* vu sur https://www.pierre-giraud.com/html-css-apprendre-coder-cours/creation-menu-deroulant/ */
	content:"↓↓↓";
	font-size:13px;
}

.sous {
	margin-left:90px;
}



li ul {
 display:none;
}

li:hover ul {

display:block;
position:relative;

}

#nav {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    width: 1050px;
    background-color: grey;
    border: 3px grey outset;
    border-radius: 8px;
	
}
 
#nav li {
    display: inline;
    list-style: none;	
}

#nav{
  position:fixed;
  margin:0;
}

#nav .sous {
	background-color:grey;
	text-align:center;
}



 
#nav a {
    display: inline-block;
    margin: 0 10px;
    color: black;
}
 
#nav a:visited {
    color: black;
}
 
#nav a:hover {
    background-color: black;
    color: white;
     
}

